<div style="position: relative; width:100%; padding-top: {{ ratio }}%;">
    <iframe src="{{ src }}" height="100%" width="100%" style="position: absolute;left: 0;top: 0;" seamless="seamless" allowfullscreen="allowfullscreen"></iframe>
</div>
