{% set youtubeUrl = '//www.youtube.com/embed/' ~ id
                  ~ '?html5=1&amp;rel=0&amp;hd=1&amp;quality=hd720&amp;fs=1&amp;modestbranding=1&amp;rel=0&amp;color=white&amp;theme=light&amp;enablejsapi=1' %}

<div class="fullsize">
    <div class="fullsize-inner">

        <div class="video video--youtube">
            <iframe seamless="seamless" allowfullscreen="allowfullscreen" src="{{ youtubeUrl }}"></iframe>
        </div>

    </div>
</div>
