<figure class="op-social">
    <iframe>
        <blockquote class="twitter-tweet" style="display:none">
            <a href="{{ url }}">{% if author %}Tweet von @{{ author }}{% endif %}</a>
        </blockquote>

        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </iframe>
</figure>
